body {
    font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', "Segoe UI", Helvetica, Arial, sans-serif;
    max-width: 38em;
    padding: 1.5rem;
    margin: auto;
    font-family: sans-serif;
    word-wrap: break-word;
    color: #222;
}

img {
    max-width: 100%;
}

a {
    color: #2ECC40;
}

h1, h2, strong {
    line-height: 2rem;
    color: #111;
}

